@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Simma-Lugnt-Sans-Bold', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-white {
  --color-primary: #ffffff;
  --color-secondary: #000000;
}

.theme-green {
  --color-primary: #004006;
  --color-secondary: #69ed76;
}

.theme-red {
  --color-primary: #5a0000;
  --color-secondary: #ff0000;
}

@font-face {
  font-family: 'Simma-Lugnt-Sans-Regular';
  src: url('./fonts/Simma\ Lugnt\ Sans-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Simma-Lugnt-Sans-Bold';
  src: url('./fonts/Simma\ Lugnt\ Sans-Bold.otf') format('opentype');
  font-weight: bold;
}
